  body {
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      margin: 0;
      padding: 0;
      background-color: #000
      /*font-size: calc(0.35em + 0.75vw);*/
  }
  
  .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-area: top;
  }
  
  .container {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      ;
      grid-template-rows: .5fr 5fr auto auto 3fr auto;
      grid-template-areas: ". top top top top header header header header header header header" ". . safety safety safety . cover-photo cover-photo cover-photo cover-photo  . ." " . . product product product product product timeline timeline timeline timeline . " " . . stats stats stats stats stats stats stats stats . . " " . mailing mailing mailing mailing mailing mailing mailing mailing mailing mailing  . " "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  
  .cover-photo {
      grid-area: cover-photo;
      padding-top: 60px
  }
  
  .nav {
      grid-area: header;
      align-self: center;
  }
  
  .safety {
      grid-area: safety;
      align-self: center;
  }
  
  .main {
      grid-area: main;
  }
  
  .logo {
      margin-top: 20px;
  }
  
  .info-block {
      grid-area: product;
      justify-self: center;
  }
  
  .timeline {
      grid-area: timeline;
  }
  
  .stats {
      grid-area: stats;
      justify-self: center;
  }
  
  .mailing {
      grid-area: mailing;
      justify-self: center;
      align-self: center;
  }
  
  .footer {
      grid-area: footer;
  }
  
   ::selection {
      background: #FBB8B8;
      /* WebKit/Blink Browsers */
  }
  
   ::-moz-selection {
      background: #FBB8B8;
      /* Gecko Browsers */
  }
  
  #frontpage .about-nav {
      display: none;
  }
  
  sub {
      font-size: 14px;
      font-weight: lighter;
  }
  
  .nav ul {
      display: flex;
      list-style: none;
      justify-content: center;
      position: absolute;
      text-align: center;
  }
  
  .nav li {
      margin-right: 40px;
      margin-left: 40px;
  }
  
  .nav li a {
      text-decoration: none;
      color: #fff;
  }
  
  .nav li a:hover {
      text-decoration: none;
      color: #bcb8b1;
  }
  
  p {
      font-size: 18px;
  }
  
  .about-nav li a {
      color: #141414;
  }
  
  .contact-button {
      padding: 20px;
      border-color: #fff;
      border-width: 3px;
      border-style: solid;
      text-decoration: none;
      background-color: #000;
      color: #fff;
      margin-top: 10px;
  }
  
  .info-block-half {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
  }
  
  .stats {
      color: #fff;
      justify-self: stretch;
  }
  
  .stats-block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
  }
  
  .stats-item p {
      width: 300px;
      font-size: 24px;
  }
  
  h4 {
      text-align: center;
  }
  
  .mailing input {
      padding: 12px 20px;
      justify-self: stretch;
      background-color: #000;
      color: #fff;
      font-size: 18px;
      border: none;
  }
  
  .mailing button {
      padding: 14px 20px;
      margin: 8px;
      border: none;
      cursor: pointer;
      background-color: #fff;
      color: #505056;
  }
  
  form {
      display: flex;
      flex-direction: row;
      border: 3px solid #fff;
      padding: 4px;
  }
  
  input:focus {
      /* removing the input focus blue box. Put this on the form if you like. */
      outline: none;
  }
  
  button:hover {
      background-color: #e9e9e9;
  }
  
  .footer {
      padding: 150px 10px 150px 10px;
      text-align: center;
      color: #fff;
  }
  
  .footer a {
      color: #1c73af;
  }
  
  #team {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 70px;
      margin-right: 70px;
  }
  
  .member {
      line-height: 1em;
      text-align: center;
      padding: 30px 20px 30px 20px;
      width: 300px;
      margin: 20px 20px 20px;
  }
  
  .member img {
      height: 200px;
      width: 200px;
      padding: 15px;
  }
  
  .bio {
      text-align: center;
  }
  
  .timeline {
      width: 355px;
      height: 696px;
      overflow: hidden;
      top: 144px;
      margin-left: 71px;
  }
  
  .box {
      width: 100%;
      height: 509px;
      display: flex;
      justify-content: flex-start;
  }
  
  .line {
      height: 65px;
      width: 2px;
      background: #D1D6E6;
      margin-left: 5.3px;
  }
  
  .cards {
      margin-left: 12px;
  }
  
  .card {
      padding: 5px;
      margin-bottom: 10px;
      text-align: center;
      border: 1px solid #fff;
  }
  
  .card p {
      color: #fff;
      font-size: 12px;
  }
  
  .bottom {
      width: 100%;
      height: 107px;
      background: #fff;
      box-shadow: 0 0 2px #eeeeee50;
      padding-top: 45px;
  }
  
  .timeline ul li:before {
      color: #fff;
      width: 8em;
  }
  
  .about-block {
      text-align: center;
      padding: 60px;
  }
  
  .about-top {
      display: flex;
      justify-content: space-around;
  }
  
  .about-top .logo {
      margin-left: -200px;
  }