body {
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
#frontpage {
  max-height: 120%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: black;
}
video {
  right: 0;
  top: 0;
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  z-index: 900;
  transition: 1s opacity;
}
ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 24px;
  justify-content: center;
  position: absolute;
  z-index: 950;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}
li {
  padding-right: 5rem;
}
li a {
  text-decoration: none;
  color: white;
}

#product {
  background-color: black;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.info {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: center;
}

.info-block {
  background-color: black;
  padding: 40px;
}

h1 {
  padding: 50px 0px 50px 0px;
  margin: 0px 0px 0px 50px;
}
.front {
  position: absolute;
  z-index: 950;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 20%;
  letter-spacing: 20px;
  font-weight: bold;
}
#timeline {
  color: #fff;
  background-color: black;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #fff;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #fff;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #141414;
  border: 2px solid #fff;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006e51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #141414;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
#story {
  background-color: black;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.story-block {
  width: 90%;
  margin: 0px 50px 0px 80px;
  padding: 30px;
}
#contact {
  background-color: black;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#contact a {
  color: white;
}
.contact-block {
  padding: 0px 50px 50px 80px;
}
input {
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  background-color: #141414;
  border: 2px solid;
  color: #fff;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #727170;
  opacity: 1; /* Firefox */
}
.mailing {
  background-color: #141414;
  padding: 30px;
}
button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
